@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme{

  --color-primary: #FF33E4;
  
  
  --color-background: #EBEBEB;
  --color-background-100: #F5F5F5;
  --color-text-primary: #000000;
  --color-text-secondary: #403C3B;

  --color-green-000: #C3FF1F;
  --color-green:  #C3E3B5;
  --color-green-100: #98CE00;
  --color-green-200: #78A300;
  --color-green-300: #4B8532;

  --color-blue: #B2E6FA;
  --color-blue-100: #3FC0F3;
  --color-blue-200: #0D9BD3;

  --color-red: #ECADAC;
  --color-red-100: #C8302D;

  --color-yellow: #FFEBC2;
  --color-yellow-100: #EEE16D;
  --color-yellow-200: #B7A615;
  --color-yellow-300: #E09600;


  --color-dark-background: #151313;
  --color-dark-background-100: #140011;
  --color-dark-text-primary: #ffffff;
  --color-dark-text-secondary: #f7f7f7;

}

/* Custom scrollbar styles */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #FF33E4 transparent; 
}

.scrollbar-custom::-webkit-scrollbar {
  width: 20px; 
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #FF33E4; 
  border-radius: 4px; 
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent; 
  width: 20px;
}


body{
  font-family: 'Roboto', sans-serif;
}